In [1]:
#Imports
import warnings
warnings.filterwarnings("ignore")

# Wrangling
import pandas as pd
import numpy as np

# Exploring
import scipy.stats as stats

# Visualizing
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

# default pandas decimal number display format
pd.options.display.float_format = '{:20,.2f}'.format

import acquire
import summarize
import prepare

**Acquire and Summarize**

In [2]:
df = acquire.get_mall_data()
df.head()

this file exists, reading from csv

            Gender  Age  Annual Income (k$)  Spending Score (1-100)
CustomerID
1             Male   19                  15                      39
2             Male   21                  15                      81
3           Female   20                  16                       6
4           Female   23                  16                      77
5           Female   31                  17                      40

In [3]:
print(summarize.df_summary(df))

Info:
<class 'pandas.core.frame.DataFrame'>
Index: 200 entries, 1 to 200
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Gender                  200 non-null    object
 1   Age                     200 non-null    int64
 2   Annual Income (k$)      200 non-null    int64
 3   Spending Score (1-100)  200 non-null    int64
dtypes: int64(3), object(1)
memory usage: 7.8+ KB
None

Describe:
                       Age   Annual Income (k$)  Spending Score (1-100)
count               200.00               200.00                  200.00
mean                 38.85                60.56                   50.20
std                  13.97                26.26                   25.82
min                  18.00                15.00                    1.00
25%                  28.75                41.50                   34.75
50%                  36.00                61.50                   50.00
75%                  49.00                78.00                   73.00
max                  70.00               137.00                   99.00

Gender Counts:
Gender
Female    112
Male       88
Name: count, dtype: int64

In [4]:
df = prepare.data_prep(
    df,
    cols_to_remove=[],
    prop_required_column=.6,
    prop_required_row=.75)